<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="meghana">Meghana Gowda</a>
     <div class="collapse navbar-collapse  " id="navbarNavAltMarkup">
      <div class="navbar-nav text-light">
          <ul class="navbar-nav mr-auto">

        <a class="nav-item nav-link " routerLink="countries">Contries</a>
        <a class="nav-item nav-link" routerLink="categories">Categories</a>
        <a class="nav-item nav-link" routerLink="sources">Source</a>
        <a class="nav-item nav-link" routerLink="searchnews">Search News</a>
      </ul>
      </div>
    </div>
  </nav>

